@use '../../common_scss/common';

// main container
#main-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background-color: common.$app-ground-color;

    margin: 1.5rem;


    @media (min-width: 64rem) {
        flex-direction: row;
        height: 100vh;
        padding: 0rem 1.5rem;
        align-items: flex-start;
        gap: 2rem;
    }

    .ImgComponentCss {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 15;
        background-color: common.$app-ground-color;
    }

}

.card-creator-txt {
    color: "#151515";
    text-align: left;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
}


.hiddenImg {
    display: none;
    width: 100%;
    height: 100%;

    img {
        width: 720px;
        height: 720px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #main-container {
    flex-direction: row;
    height: 100vh;
    padding: 0rem 1.5rem;
    align-items: flex-start;
    gap: 1rem;
  }
}
