@use "../../common_scss/common";
@use "../../common_scss/fonts";

.download-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
  }
}

.download-modal-content {
  background-color: common.$app-ground-color;
  color: rgb(255, 255, 255);
  padding: 1.3rem;
  border-radius: 1rem;
  max-width: 320px;
  min-width: 320px;
  width: 90%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;

  h2 {
    margin-top: 0;
    background-color: inherit;
    margin-bottom: 0.5rem;
    align-self: flex-start;
  }

  p {
    background-color: inherit;
  }

  .download-close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;

    img {
      height: 20px;
    }
  }
}
