@use "../../common_scss/common";

.notice-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
  }
}

.notice-modal-content {
  background-color: common.$app-ground-color;
  color: rgb(255, 255, 255);
  padding: 1.3rem;
  border-radius: 1rem;
  max-width: 320px;
  min-width: 320px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;

  .notice-close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  .notice-title {
    font-size: 1.2rem;
    color: "#fff";
    text-align: left;
  }
  .notice-message {
    font-size: 1rem;
    color: "#ccc";
    opacity: 90%;
    text-align: left;
  }
  .notice-button{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #3fb28f; //#6430F7;
    color: white;
    font-weight: 500;
    padding: 0.2rem 0.2rem;
    border-radius: 0.375rem;
    cursor: pointer;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    font-size: large;
  }
  .notice-button:hover {
    opacity: 0.9;
  }


  img {
      height: 20px;
    }
}
